<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>{{ stockName }}</h1>
    <h2>{{ ticker }}</h2>
    <div id="graph-container"></div>
    <script>
        var graphData = {{ graph_json | safe }};
        Plotly.plot('graph-container', graphData.data, graphData.layout);
    </script>
</body>
</html>