<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Market Analysis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

<div class="container">
  <div class="search-panel">
    <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Search for company name...">
  </div>
  <h1>Stock Market Analysis</h1>
  <div class="scrollable-table">
    <table id="dataTable">
      <thead>
        <tr>
          <th>Sl. No.</th>
          <th>Company Name</th>
          <th>Ticker</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            <td>{{ loop.index }}</td>
            <td class="company-name"><a href="{{ url_for('viewDashboard', ticker=row[1]) }}">{{ row[0] }}</a></td>
            <td class="ticker-symbol">{{ row[1] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function filterTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("dataTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      console.log(td)
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</body>
</html>

