<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screener</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='screener.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <a href="/"><button class="btn"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></button></a>
    <h1>{{ stockName }}</h1>
    <h2>{{ ticker }}</h2>
    <div class="container">
        <div class="tab">
            <a href="/dashboard/{{ ticker }}">
                <div class="item">Dashboard</div>
            </a>
            <a href="/dashboard/{{ ticker }}/news">
                <div class="item">News</div>
            </a>
            <div class="active-item">Screener</div>
        </div>
        <br>
        <div id="graph-container">
            <div id="graph-indicator"></div>
        </div>
        <div class="caption"><h4>Latest Candlestick patterns found</h4></div>
        
        <br>
        <div>
            {% for key, value in pattern_match.items() %}
            <div class="pattern-container">
                <h4>{{ key }}</h4>
                {% if value == 'bullish' %}
                <p class="green-box">{{ value }}</p>
                {% elif value == 'bearish' %}
                <p class=" red-box">{{ value }}</p>
                {% else %}
                <p>{{ value }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        var graphData = {{ graph_json | safe }};
        Plotly.plot('graph-indicator', graphData.data, graphData.layout);
    </script>

</body>

</html>