body {
    font-family: sans-serif;
    margin: 0;
    padding: 0%;
  }
  
  .container {
    width: 90%;
    margin: 1% auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.1%;
    margin-left:3%;
    color: #222;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.1%;
    margin-left:3%;
    color: #444;
  }

  

  .btn {
    background-color: rgb(109, 107, 107);
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 20px;
}


#graph-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

#graph-indicator {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:50%;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 0.5% 1%;
    text-align: left;
  }
  
  th {
    background-color: #e6e6e6;
    font-weight: bold;
    font-size: 14px;
  }
  
  tr:hover {
    background-color: #f2f2f2; /* Adjust hover color */
  }
  
  /* Links */
  a {
    color: #333;
    text-decoration: none; /* Remove underline */
  }
  
  a:hover {
    color: #666; /* Adjust hover color */
  }
  
  /* Company name styling */
  .key {
    font-weight: bold;
    color: #444;
  }
  
  /* Ticker symbol styling */
  .value {
    color: #444;
  }

  .tab{
    display: flex;
    direction: column;
    font-weight: bold;
    font-size: 18px;
    gap: 1%;
  }

  .tab .active-item{
    color: #222;
    padding-bottom: 0.5%;
    border-bottom: 3px solid #555555c2;
    border-radius: 2px;
  }

  .tab .item{
    color: #4444449c;
  }



  .pattern-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  
  .green-box {
    background-color: green;
    color: white;
    padding: 5px 30px;
}

.red-box {
    background-color: red;
    color: white;
    padding: 5px 30px;
}

.caption{
  margin-left: 40% ;
}